# App Config
APP_NAME=niddify-nestjs-api
PORT=4800
NODE_ENV=local
HOST=0.0.0.0

# JWT Config
SALT_OR_ROUNDS=10
JWT_SECRET=fefefefcerecfrvrvgr
JWT_EXP_TIME=30d
JWT_REFRESH_EXP=60d

LOGGER_CONTEXT=NiddifyLogger

# Cache config
CACHE_NAMESPACE=app-cache
CACHE_TTL=3600

# Redis config
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER_NAME=username
REDIS_PASSWORD=password
REDIS_EXPOSED_PORT=6389

# Docker Database config
DB_HOST=mysql
DB_PORT=3306
DB_USER=devuser
DB_PASSWORD=devpassword
DB_NAME=niddify-local
DB_SYNC=true
FORWARD_DB_PORT=3305

# Default Admin Config
SUPER_ADMIN_EMAIL_ADDRESS=
SUPER_ADMIN_FIRST_NAME=
SUPER_ADMIN_LAST_NAME=
SUPER_ADMIN_PASSWORD=